// .card {
//     width: 18rem;
//     background-image: linear-gradient( rgb(0,150,255),white);
// }
// .row{
//     position: absolute;
//     top:30%;
//     margin:5vh;
// }
.carousel {
    // height:100px;
    position: relative;
    top:80px;
    margin-top: 50px;
}
.carousel-caption {
    margin-bottom: 90px;
}
.carousel-item {
    height: 100%;
}
.d-block {
    // border-radius: 50%;
    height:100%;
}
.carousel-inner {
    padding-left:40px;
    padding-right:40px;
}
