.navbar {
    height:10vh;
    width:100%;
    position: absolute;
    top: 0%;
    background-color: #2585ca;
    text-indent: 2px;
}
.image{
    box-shadow: 1px 5px 5px gray;
    border-radius:10%;
    height: 20vh;
    width:20vh;
}
.img-thumbnail {
    height:20vh;
    width:20vh;
}
.link {
    font-size:30px;
    text-indent: 2px;
}
.fas {
    font-size:23px;
    color:white;
}
.nav-item {
    margin-left: 10vh;
}

@media (min-width: 375px) and (min-height: 812px) {
    .link {
        font-size: 40px;
    }
    .fas {
        font-size: 30px;
    }
}
@media (min-width: 768px) and (min-height: 1024px) {
    .link {
        font-size: 73px;
    }
    .fas {
        font-size: 40px;
    }
}
// @media (min-width: 1024px) and (min-height: 1366px) {
//     .link {
//         font-size: 80px;
//     }
// }