.top-section {
    background-image:linear-gradient(300deg, rgba(0,150,255), white);
    /* background-color:rgba(0,150,255); */
    height:90vh;
    box-shadow: 5px 5px 10px black;
}
.diamondone {
    height:12vh;
    width: 20.7vh;
    background-color:white;
    transform: rotate(70deg) skew(54deg);
    position: relative;
    left:35%;
    top: 18%;
}
.diamondtwo {
    height:8vh;
    width: 13.4vh;
    background-color:white;
    transform: rotate(70deg) skew(53deg);
    position: relative;
    left: 22%;
    top:41%;
}
.diamondthree {
    height:5vh;
    width: 8.8vh;
    background-color:white;
    transform: rotate(70deg) skew(54deg);
    position: relative;
    left:40%;
    top:40%;
}
/* .trapezoid {
    width: 80vh;
    border-bottom: 90.1vh solid black;
    border-left: 100px solid transparent;
    transform: rotate(180deg);
} */
.headline {
    position: absolute;
    /* color:rgba(0,150,255); */
    color:white;
    top:30%;
    left:15%;
    font-size:10vh;
}
.second-part-headline {
    position: absolute;
    /* color:rgba(0,150,255); */
    top:40%;
    left:30%;
    font-size: 10vh;
}
.group-pic {
    background-color: aqua;
    border-radius: 2%;
    height:50vh;
    width:50vh;
    position:absolute;
    right:20%;
    top:30%;
    box-shadow: 5px 5px 5px black;
}
.about-section {
    height:80vh;
    width:138vh;
    margin:0 5% 0 5%;
    /* border-radius: 20% 20% 0% 0%; */
    background-image:linear-gradient(60deg, rgba(0,150,255), white);
    /* background-color:rgba(0,100,255); */
    position: absolute;
    top:110%;
    box-shadow: 5px 5px 10px black;
    
}
.about-info {
    height:20vh;
    width:70vh;
    color:white;
    font-size:20px;
    /* background-color:white; */
    /* box-shadow: -10px 0px 5px 3px white; */
    /* border-radius: 20% 20% 25% 20%;  */
    border-radius: 10%;
    position: absolute;
    top:10%;
    right: 28%;
}
.event-section {
    width:100%;
    height:80vh;
    background-image:linear-gradient(150deg, rgba(0,150,255), white);
    box-shadow: 5px 5px 10px black;
    position: absolute;
    top: 210%;
}
.event-info {
    position: absolute;
    top: 20%;
    height: 30vh;
    width: 40vh;
    /* background-color:white; */
    color:white;
    font-size:25px;
    border-radius: 10%;
}
.second-pic-box {
    height:40vh;
    width:40vh;
    border-radius: 1%;
    background-color:black;
    position: absolute;
    left: 5%;
    top:40%;
}
.second-pic-box_two {
    height: 40vh;
    width:40vh;
    position: absolute;
    top:40%;
    right: 5%;
    border-radius: 1%;
}
.second-pic-box_three {
    height: 40vh;
    width:40vh;
    position: absolute;
    top:48%;
    left:35%;
    border-radius: 1%;
}
.third-pic-box {
    height: 60vh;
    width:60vh;
    position: absolute;
    top: 13%;
    border-radius: 1%;
    right:20%;
}
.footer{
    height:20vh;
    width:100%;
    font-size: 30px;
    background-image:linear-gradient(200deg, rgba(0,150,255),white);
    position: absolute;
    top:330%;
}