.top-section {
    background-image:linear-gradient(300deg, rgb(0,150,255), white);
    /* background-color:rgba(0,150,255); */
    height:90vh;
    box-shadow: 5px 5px 10px black;
}
.diamondone {
    height:12vh;
    width: 20.7vh;
    background-color:white;
    transform: rotate(70deg) skew(54deg);
    position: relative;
    left:35%;
    top: 18%;
}
.diamondtwo {
    height:8vh;
    width: 13.4vh;
    background-color:white;
    transform: rotate(70deg) skew(53deg);
    position: relative;
    left: 22%;
    top:41%;
}
.diamondthree {
    height:5vh;
    width: 8.8vh;
    background-color:white;
    transform: rotate(70deg) skew(54deg);
    position: relative;
    left:40%;
    top:40%;
}
/* .trapezoid {
    width: 80vh;
    border-bottom: 90.1vh solid black;
    border-left: 100px solid transparent;
    transform: rotate(180deg);
} */
.headline {
    position: absolute;
    /* color:rgba(0,150,255); */
    color:white;
    top:30%;
    left:15%;
    font-size:10vh;
}
.second-part-headline {
    position: absolute;
    /* color:rgba(0,150,255); */
    top:40%;
    left:30%;
    font-size: 10vh;
}
.group-pic {
    /* background-color: aqua; */
    border-radius: 2%;
    height:70vh;
    width:70vh;
    position:absolute;
    right:7%;
    top:20%;
    /* box-shadow: 5px 5px 5px black; */
}
.about-section {
    height:80vh;
    width:138vh;
    margin:0 5% 0 5%;
    /* border-radius: 20% 20% 0% 0%; */
    background-image:linear-gradient(60deg, rgb(0,150,255), white);
    /* background-color:rgba(0,100,255); */
    position: absolute;
    top:110%;
    box-shadow: 5px 5px 10px black;
    
}
.about-info {
    height:20vh;
    width:70vh;
    color:white;
    font-size:20px;
    /* background-color:white; */
    /* box-shadow: -10px 0px 5px 3px white; */
    /* border-radius: 20% 20% 25% 20%;  */
    border-radius: 10%;
    position: absolute;
    top:10%;
    right: 28%;
}
.event-section {
    width:100%;
    height:80vh;
    background-image:linear-gradient(150deg, rgb(0,150,255), white);
    box-shadow: 5px 5px 10px black;
    position: absolute;
    top: 210%;
}
.event-info {
    position: absolute;
    top: 20%;
    height: 30vh;
    width: 40vh;
    /* background-color:white; */
    color:white;
    font-size:25px;
    border-radius: 10%;
}
.second-pic-box {
    height:40vh;
    width:40vh;
    border-radius: 1%;
    background-color:black;
    position: absolute;
    left: 5%;
    top:40%;
}
.second-pic-box_two {
    height: 40vh;
    width:40vh;
    position: absolute;
    top:40%;
    right: 5%;
    border-radius: 1%;
}
.second-pic-box_three {
    height: 40vh;
    width:40vh;
    position: absolute;
    top:48%;
    left:35%;
    border-radius: 1%;
}
.third-pic-box {
    height: 60vh;
    width:60vh;
    position: absolute;
    top: 13%;
    border-radius: 1%;
    right:20%;
}
.footer{
    height:20vh;
    width:100%;
    font-size: 30px;
    background-image:linear-gradient(200deg, rgb(0,150,255),white);
    position: absolute;
    top:330%;
}
@media (min-width: 360px), (min-height: 640px) {
    .top-section {
        width: 100%;
    }
    .group-pic {
        width:50vh;
        height:50vh;
        left:2%;
        top: 60%;
    }
    .diamondone {
        width:15vh;
        height:9vh;
        left:73%;
        top:40%;
    }
    .diamondtwo {
        width: 10vh;
        height: 6vh;
        left:14%;
        top: 44%;
    }
    .diamondthree {
        width: 5vh;
        height:3vh;
        left:50%;
        top:46%;
    }
    .about-section {
        width:100%;
        margin: 0;
    }
    .about-info {
        font-size:15px;
        left:16%;
        width:35vh;
        top:5%;
    }
    .second-pic-box {
        width:20vh;
        height:20vh;
    }
    .second-pic-box_two {
        width:20vh;
        height:20vh;
    }
    .second-pic-box_three {
        width:20vh;
        height:20vh;
        top:55%;
    }
    .event-info {
        font-size:20px;
        left:10%;
    }
    .third-pic-box {
        width:40vh;
        height:40vh;
        left:12%;
        top:70%;
    }
}
@media (min-width: 411px), (min-height: 823px) {
    .about-info {
        font-size: 20px;
    }
    .second-pic-box {
        width: 22vh;
        height: 22vh;
    }
    .second-pic-box_two {
        width: 22vh;
        height: 22vh;
    }
    .second-pic-box_three {
        width: 22vh;
        height: 22vh;
        left:28%;
        top:70%;
    }
    .diamondone {
        left:75%;
    }
    .group-pic {
        left:0%;
    }
}
@media (min-width:320px), (min-height: 568px) {
    .group-pic {
        height: 50vh;
        width:50vh;
        left:0%;
        top:60%;
    }
    .diamondone {
        width:12vh;
        height:7vh;
        left:70%;
        top:33%;
    }
    .diamondtwo {
        width:10vh;
        height: 6vh;
        left:3%;
    }
    .diamondthree {
        top:50%;
        left:60%;
    }
    .about-section {
        width: 100%;
        margin:0%;
    }
    .about-info {
        font-size:18px;
        width:40vh;
        left:6%;
        top:0%;
    }
    .second-pic-box {
        width:25vh;
        height:25vh;
        left: 0%;
        top:50%;
    }
    .second-pic-box_two {
        width:25vh;
        height: 25vh;
        top: 50%;
    }
    .second-pic-box_three {
        width: 25vh;
        height:25vh;
        top:65%;
        left:20%;
    }
    .event-section {
        width:100%;
    }
    .event-info {
        font-size:18px;
        top:0%;
        width:80%;
        left:3%;
    }
    .third-pic-box {
        width:40vh;
        height: 40vh;
        top:60%;
    }
}
@media (min-width: 375px), (min-height: 667px) {
    .group-pic {
        left:5%;
    }
    .about-info {
        left:15%;
        font-size: 22px;
    }
    .second-pic-box {
        left:2%;
    }
    .second-pic-box_two {
        right:2%;
    }
    .second-pic-box_three {
        left: 26%;
        top:75%;
    }
    .event-info {
        font-size: 25px;
        left:10%;
    }
}
@media (min-width: 375px), (min-height:812px) {
    .group-pic {
        width:40vh;
        height:40vh;
        top:65%;
        left:7%;
    }
    .diamondone {
        top:25%;
        left:76%;
    }
    .about-section{
        margin: 0%;
    }
    .about-info {
        left:5%;
        font-size:25px;
    }
    .second-pic-box {
        width:20vh;
        height:20vh;
    }
    .second-pic-box_two {
        width:20vh;
        height:20vh;
    }
    .second-pic-box_three {
        width:20vh;
        height:20vh;
    }
    .event-info {
        font-size: 28px;
    }
    .third-pic-box {
        left:7%;
    }
}
@media (min-width: 768px), (min-height: 1024px) {
    .diamondone {
        width: 20vh;
        height:12.1vh;
        left:65%;
        top:38%;
    }
    .diamondtwo {
        left: 17%;
    }
    .diamondthree {
        top: 48%;
        left:50%;
    }
    .group-pic {
        width:50vh;
        height: 50vh;
        left:17%;
    }
    .about-info {
        font-size: 40px;
        width:60vh;
        left:10%;
    }
    .second-pic-box {
        width:30vh;
        height:30vh;
    }
    .second-pic-box_two {
        width:30vh;
        height:30vh;
    }
    .second-pic-box_three {
        width:30vh;
        height: 30vh;
        left:30%;
    }
    .event-info {
        font-size:45px;
    }
    .third-pic-box {
        left:26%;
    }
}
@media (min-width: 1024px), (min-height: 1366px) {
    .about-info {
        font-size: 50px;
    }
    .about-section h1 {
        font-size: 80px;
    }
    .event-info {
        font-size: 50px;
    }
    .event-info h1 {
        font-size: 80px;
    }
    .third-pic-box {
        width:50vh;
        height:50vh;
        left:18%;
    }
}